{% extends 'posts/base.html' %}
{% load static %}
{% block title %}
    Blog
{% endblock title %}
{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'posts/list.css' %}">
{% endblock extra_head %}
{% block content %}
	
	<div class="main">
		
		<div class="somepadding">
			<center>
			<a href="{% url 'create' %}"><button type="button" class="create">Create New Post</button></a>
			</center>
			<div class="search">
				<form method="get">
					<input type="text" name="q" class="search-box">
					<a href="{% url 'posts_list' %}"><button type="buton">Search</button></a>
				</form> <br>
			</div>
			
				{% for obj in page_obj %}
			<div class="post">
					<div class="post-title">
						<a href="{% url 'detail' obj.id %}"><h1>{{ obj.title }}</h1></a>
						<p>{{ obj.content|truncatechars:120 | safe }}</p>
						<a href="{% url 'detail' obj.id %}">Read More</a>
						<p id="date">	{% if obj.updated %}
							{{ obj.updated|date:"d M Y" }}
						{% else %}
							{{ obj.created_at|date:"d M Y" }}
							<br>
							{% endif %}<a href="#">{{ obj.user }}</a></p>
							
						</div>
						<div class="post-img">
							<img src="{% static 'posts/example.png' %}">
						</div>
					</div>
					<hr>
				{% endfor %}
				<br><br>
				<div class="pagination">
					<span class="step-links">
						{% if page_obj.has_previous %}
							<a href="?page=1">&laquo; <button type="">first</button></a>
							<a href="?page={{ page_obj.previous_page_number }}"><button type="">previous</button></a>
						{% endif %}
						<span class="current">
							Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
						</span>
						{% if page_obj.has_next %}
							<a href="?page={{ page_obj.next_page_number }}"><button type="">next</button></a>
							<a href="?page={{ page_obj.paginator.num_pages }}"><button type="">last</button> &raquo;</a>
						{% endif %}
					</span>
				</div>
			</div>
		</div>
	{% endblock content %}
	
{# 	{% if user.is_staff or user.is_superuser %}
		
		<a href="{% url 'update' obj.id %}" type="button">Update</a> | <a href="{% url 'delete' obj.id %}" type="button">Delete</a> | <b>
	{% endif %} #}