{% extends 'posts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
	{{ instance.title }}
{% endblock title %}
{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'posts/detail.css' %}">
{% endblock extra_head %}
{% block content %}
	<div class="main">
		
		<div class="somepadding">
			<h1 id="title">{{ instance.title }}</h1>
			<div class="post-head">
				<div class="author">
					<img src="{% static 'posts/avatar.png' %}" id="author-img">
					<p>
						<a href="#"><span id="author-name">{{ instance.user }}</span></a><br>
						<span id="date">
							{% if instance.updated %}
								{{ instance.updated }}
							{% else %}
								{{ instance.created_at }}
							{% endif %}
						</span></p>
					</div>
					{% if request.user.is_authenticated %}
						
						<div class="manage">
							<a href="{% url 'update' instance.id %}"><i class="fas fa-pencil-alt"></i></a>
							<a href="{% url 'delete' instance.id %}"><i class="fas fa-trash-alt"></i></a>
						</div>
					{% endif %}
				</div>
				<center>
				<img src="{% static 'posts/example.png' %}" id="post-img">
				</center>
				<p id="post-body">{{ instance.content | safe }}</p>
				<hr>
				<div class="comments">
					
					
					<h2>Comments</h2>
					{% for comment in all_comments  %}
						<div class="comment-object">
							
							
							<a href=""><i class="far fa-user-circle fa-lg"></i></a>
							<a id="cmu" href="#">{{ comment.name }}</a> •
							{% if comment.updated %}
								<span class="cmd">{{ comment.updated }}</span>
							{% else %}
								<span class="cmd">{{ comment.created_at }}</span>
							{% endif %}
							{% if request.user.is_authenticated %}
								
								<a href="{% url 'delete_comment' instance.id comment.id %}"><i class="fas fa-trash"></i></a>
							{% endif %}
							<div id="cmb">
								
								<p>{{ comment.body }}</p> <br>
							</div>
						</div>
					{% endfor %}
					<!--comment form-->
					<h1>Leave a comment</h1>
					{% if request.user.is_authenticated %}
						
						<form action="{% url 'detail' instance.id %}" method="post">
							{% csrf_token %}
							
							{{ comment_form | crispy }}
							
						<input type="submit" value="Add Comment">
					</form>
					{% else %}
						<a href="/accounts/signup/"><input type="submit" value="Add Comment"></a> 
					{% endif %}

				</div>
			</div>
			<center>
			
			<h1 style="font-weight:unset;">Older Post</h1>
			</center>
			<div class="mrg">
				<div class="old">
					{% for post in latest %}
						
						<a href="{% url 'detail' post.id %}">
							<div class="old-post">
								<div class="old-post-img">
									<img src="{% static 'posts/example.png' %}">
								</div>
								<div class="old-post-title">
									<h4>{{ post.title }}</h4>
									
									<p id="date">{{ post.creared_at }}by <a href="">{{ post.user }}</a></p>
									
								</div>
							</div></a>
							
						{% endfor %}
					</div>
				</div>
			</div>
			<script>
			myFunction()
			alert("I am an alert box!");
			}
			</script>
		{% endblock content %}