<!DOCTYPE html>
<html>
	<head>
		<title>Posts</title>
	</head>
	<body>
		<header>
			<form method="get">
				<input type="text" name="q">
				<a href="{% url 'posts_list' %}"><input type="submit" value="search"></a>
			</form> <br>
			{% if user.is_staff or user.is_superuser %}
				<a href="{% url 'create' %}"><button type="button">Create a new post</button></a>
				{% endif %}
				</header><!-- /header -->
				<div>
					
					{% for obj in query_list %}
						<a href="{% url 'detail' obj.id %}"><h1>{{ obj.title }}</h1></a>
						{% if user.is_staff or user.is_superuser %}
							
							<a href="{% url 'update' obj.id %}" type="button">Update</a> | <a href="{% url 'delete' obj.id %}" type="button">Delete</a>
							
						{% endif %}
					{% endfor %}
				</div>
			</body>
		</html>